h1 {
    color: hsl(150, 100%, 25%);
    font-size: 500%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
}
body{
        text-align:center;
 }
p {
    padding: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
ul{
    display: inline-block;
    text-align: left;
}
.rest-item{
    font-family: monospace;
    color:#d97706 ; 
}